@font-face {
  src: url("../fonts/SFUIText-Light.otf");
  font-family: "SFUIText";
  font-weight: 300; }

@font-face {
  src: url("../fonts/SFUIText-Regular.otf");
  font-family: "SFUIText";
  font-weight: 400; }

@font-face {
  src: url("../fonts/SFUIText-Semibold.otf");
  font-family: "SFUIText";
  font-weight: 600; }
